body {
    background-color: orange;
}
div {
    border-radius: 40%;
    background-color: brown;
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
}
select {
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    margin: 0px 50px 50px 40px
}
p {
    font-family: fantasy;
    color: bisque;
    position: absolute;
    top: 50%;
    margin: -25px 0px 100px 50px
}